---
title: "Colors"
fabricator: true
---
<header class="mb-3">
  <h1>{{title}}</h1>
</header>

<section class="mb-5">
  <p>
    Listed below are the variable/class names and colors of every color used color in Bootstrap <kbd>{{toolkit.bootstrap}}</kbd> plus any colors you add to the theme.
    <div>You can use a color on an element by applying:</div>
    <ul>
      <li><strong>Background color:</strong> <kbd>bgc-{color}</kbd></li>
      <li><strong>Border color:</strong> <kbd>bdc-{color}</kbd></li>
      <li><strong>Text color:</strong> <kbd>txtc-{color}</kbd></li>
    </ul>
  </p>
  <div>Need to add a new color?</div>
  <ol class="mb-5">
    <li>Open the <kbd>src/assets/toolkit/styles/themes/YOURTHEME/_colors.scss</kbd> file.</li>
    <li>
      Add your color name and value to the <kbd>$colors</kbd> object. Typically the color value is a variable specified before the inclusion of the <kbd>_colors.scss</kbd>.
    </li>
    <li>Open the <kbd>src/data/toolkit.yml</kbd> file.</li>
    <li>Update the colors value with the total number of colors in the <kbd>$colors</kbd> object.</li>
  </ol>
</section>

<section class="mb-4">
{{> f-search target=".color-grid-item" }}
</section>

<section>
  <div class="color-grid mb-4">
    {{#loop 1 toolkit.colors 1}}
    <div class="color-grid-item"></div>
    {{/loop}}
  </div>
</section>
