---
title: "Creative"
fabricator: true
---

<header class="mb-4" data-f-toggle="labels">
	<h1 class="mt-2">{{title}} <span id="folder-label"></span></h1>
</header>

<section class="mb-4">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-8 col-xl-9">
			{{> f-search target=".f-tile[data-tags]"}}
		</div>
		<div class="col-xs-12 col-sm-5 col-md-4 col-xl-3">
			<div class="mt-4 hidden-sm-up"></div>
			<div class="btn-group d-flex align-items-stretch flex-row " role="group" aria-label="...">
				<button data-target="#upload-modal" class="btn btn-outline-primary" data-toggle="modal"><i class="lnr-upload2"></i> Upload</button>
				<button data-target="#folder-modal" class="btn btn-outline-primary" data-toggle="modal"><i class="lnr-folder-plus"></i> Folders</button>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="f-tiles" data-creative-tiles></div>
</section>

<!-- \Handlebars/ -->

{{> hbs-folder-input-template }}

{{> hbs-creative-tile-template }}

{{> hbs-folder-dropdown-template }}

{{> hbs-uploadTemplate }}

<!-- /Handlebars\ -->

<!-- \Modals/ -->

{{> f-creative-modal }}

{{> f-upload-modal }}

{{> f-folder-modal }}

{{> f-creative-edit-modal }}

<!-- /Modals\ -->
