---
title: Butter | Overview
fabricator: true
---

<section class="mb-5">
	<h1 class="mb-4">Overview</h1>

  <h2 class="mb-0">Built on Bootstrap</h2>
  <div class="mb-3"><small>{{toolkit.bootstrap}}</small></div>

	<p>Bootstrap is the world’s most popular framework for building responsive, mobile-first sites and applications. Inside you’ll find high quality HTML, CSS, and JavaScript to make starting any project easier than ever.</p>
  <p>Head on over to the <a href="https://v4-alpha.getbootstrap.com/getting-started/introduction/" target="_blank">documentation</a> for more information about Bootstrap {{toolkit.bootstrap}}</p>
</section>

<section class="mb-5">
	<h2>Getting Started</h2>

  <p class="mb-4">This guide contains real working examples, code snippets, documentation, and style guidelines.<br />
  Start by adding the following files to your page:</p>
<script src="{{baseurl}}/assets/toolkit/scripts/vendor.js"></script>
	<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>
	<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/vendor.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>
</section>
