<div class="f-controls">
	<button type="button" class="f-control f-global-control" data-f-toggle-control=".f-item-labels" title="Toggle Labels">
		<svg>
			<use xlink:href="#f-icon-labels" />
		</svg>
	</button>
	<button type="button" class="f-control f-global-control" data-f-toggle-control=".f-item-notes" title="Toggle Notes">
		<svg>
			<use xlink:href="#f-icon-notes" />
		</svg>
	</button>
    <button type="button" class="f-control f-global-control" data-f-toggle-control=".f-item-dna" title="Toggle DNA">
        <svg>
            <use xlink:href="#f-icon-dna" />
        </svg>
    </button>
	<button type="button" class="f-control f-global-control" data-f-toggle-control=".f-item-code" title="Toggle Code">
		<svg>
			<use xlink:href="#f-icon-code" />
		</svg>
	</button>
</div>
