<div class="modal fade" id="folder-modal" tabindex="-1" role="dialog" aria-labelledby="folderModalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-0">
			<div class="modal-header rounded-0">
				<h5 class="modal-title" id="folderModalTitle">Folders</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="lnr-cross"></i>
				</button>
			</div>

			<div class="modal-body">
				<form id="folder-input">
					<div class="input-group">
						<input type="text" class="form-control" aria-label="folder input" />
						<span class="input-group-btn">
							<button class="btn btn-outline-primary" type="submit"><i class="lnr-plus"></i></button>
						</span>
					</div>
				</form>
				<div id="folder-input-list" data-folder-list="#folder-input-template"></div>
			</div>

			<div class="modal-footer" style="display: none;">
				<button type="button" class="btn btn-primary btn-block" data-folder-save>Save Folders</button>
			</div>
		</div>
	</div>
</div>
