

<!-- fabricator menu -->
<div class="f-menu-container">
	{{> f-navbar}}
	{{> f-controls}}

	<form data-search="[data-tags]">
		<div class="search">
			<input type="search" placeholder="search" name="find" autocomplete="off" autocorrect="off" />
		</div>
	</form>

	<div class="f-menu">
		<ul>
			<li data-tags="docs overview{{#each docs}} {{name}}{{/each}}">
			  <a href="{{baseurl}}/docs.html" class="f-menu__heading">Docs</a>
			  <ul>
				<li data-tags="docs overview">
					<a href="{{baseurl}}/index.html">Overview</a>
				</li>
				{{#each docs}}
				<li data-tags="{{../name}} {{name}}">
				  <a href="{{baseurl}}/docs.html#{{@key}}">{{#cond name '==' 'Dna'}}DNA{{else}}{{name}}{{/cond}}</a>
				</li>
				{{/each}}
			  </ul>
			</li>

			{{#if toolkit.api}}
			<li style="margin-left: 5px;">
			  <a href="{{baseurl}}/creative.html" class="f-menu__heading">Creative</a>
			  <ul data-folder-list="#folder-menu-template"></ul>
			</li>
			{{/if}}


			{{#each materials}}
			<li data-tags="materials {{name}}{{#each items}} {{name}}{{#if data.atomic}} {{data.atomic}}{{/if}}{{/each}}">
				<a href="{{baseurl}}/{{@key}}.html" class="f-menu__heading">{{name}}</a>
				<ul>
					{{#each items}}
					<li data-tags="{{../name}} {{name}}{{#if data.atomic}} {{data.atomic}}{{/if}}">
						<a href="{{baseurl}}/{{@../key}}.html#{{@key}}">{{name}}</a>
					</li>
					{{/each}}
				</ul>
			</li>
			{{/each}}


			{{#each views}}
			<li data-tags="views {{name}}{{#each items}} {{name}}{{#if data.atomic}} {{data.atomic}}{{/if}}{{/each}}">
				<a href="{{baseurl}}/{{@key}}.html" class="f-menu__heading">{{name}}</a>
				<ul>
					{{#each items}}
					<li data-tags="{{../name}} {{name}}{{#if data.atomic}} {{data.atomic}}{{/if}}">
						<a href="{{baseurl}}/{{@../key}}/{{@key}}.html">{{name}}</a>
					</li>
					{{/each}}
				</ul>
			</li>
			{{/each}}

		</ul>
	</div>
	{{#if toolkit.api}}
	<script type="text/x-handlebars-template" id="folder-menu-template">
	  <li>
		<a href="{{baseurl}}/creative.html#/f/\{{name}}">\{{name}}</a>
	  </li>
	</script>
	{{/if}}
</div>
<!-- /fabricator menu -->
