<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="uploadModalTitle" aria-hidden="true" data-target="[data-creative-tiles]">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content rounded-0">
			<div class="modal-header rounded-0">
				<h5 class="modal-title" id="uploadModalTitle">File Upload</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="lnr-cross"></i>
				</button>
			</div>
			<div class="modal-body" data-uploader>
				<form id="uploadForm" class="pr-3 pl-3 uploader" data-dropzone="1">
					<div class="dd-box"></div>
				</form>

				<div class="dropzone-previews"></div>

				<div class="modal-footer">
					<div class="btn-group dropup mr-auto p-2">
						<span class="input-group-addon">Folder:</span>
						<span class="input-group-addon folder-select"></span>
						<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Folder select</span>
						</button>
						<div class="dropdown-menu btn-block" data-folder-list="#folder-dropdown-template"></div>
					</div>
					<button class="btn btn-primary" data-dz-start-all>Upload Files</button>
				</div>
			</div>
		</div>
	</div>
</div>
