$colors: (
  white: $white,
  black: $black,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  blue: $blue,
  teal: $teal,
  pink: $pink,
  purple: $purple,
  gray: $gray,
  gray-light: $gray-light,
  gray-lighter: $gray-lighter,
  gray-lightest: $gray-lightest,
  primary: $brand-primary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger,
  inverse: $brand-inverse,
  body-bg: $body-bg,
  body-color: $body-color,
  inverse-bg: $inverse-bg,
  inverse-color: $inverse-color,
  link-color: $link-color,
  link-hover-color: $link-hover-color,
  blockquote-small-color: $blockquote-small-color,
  blockquote-border-color: $blockquote-border-color,
  hr-border-color: $hr-border-color,
  component-active-color: $component-active-color,
  component-active-bg: $component-active-bg,
  table-bg: $table-bg,
  table-inverse-bg: $table-inverse-bg,
  table-inverse-color: $table-inverse-color,
  table-bg-accent: $table-bg-accent,
  table-bg-hover: $table-bg-hover,
  table-bg-active: $table-bg-active,
  table-head-bg: $table-head-bg,
  table-head-color: $table-head-color,
  table-border-color: $table-border-color,
  btn-primary-color: $btn-primary-color,
  btn-primary-bg: $btn-primary-bg,
  btn-primary-border: $btn-primary-border,
  btn-secondary-color: $btn-secondary-color,
  btn-secondary-bg: $btn-secondary-bg,
  btn-secondary-border: $btn-secondary-border,
  btn-info-color: $btn-info-color,
  btn-info-bg: $btn-info-bg,
  btn-info-border: $btn-info-border,
  btn-success-color: $btn-success-color,
  btn-success-bg: $btn-success-bg,
  btn-success-border: $btn-success-border,
  btn-warning-color: $btn-warning-color,
  btn-warning-bg: $btn-warning-bg,
  btn-warning-border: $btn-warning-border,
  btn-danger-color: $btn-danger-color,
  btn-danger-bg: $btn-danger-bg,
  btn-danger-border: $btn-danger-border,
  btn-link-disabled-color: $btn-link-disabled-color,
  input-bg: $input-bg,
  input-bg-disabled: $input-bg-disabled,
  input-color: $input-color,
  input-border-color: $input-border-color,
  input-bg-focus: $input-bg-focus,
  input-border-focus: $input-border-focus,
  input-color-focus: $input-color-focus,
  input-color-placeholder: $input-color-placeholder,
  input-group-addon-bg: $input-group-addon-bg,
  input-group-addon-border-color: $input-group-addon-border-color,
  custom-control-indicator-bg: $custom-control-indicator-bg,
  custom-control-disabled-indicator-bg: $custom-control-disabled-indicator-bg,
  custom-control-disabled-description-color: $custom-control-disabled-description-color,
  custom-control-checked-indicator-color: $custom-control-checked-indicator-color,
  custom-control-checked-indicator-bg: $custom-control-checked-indicator-bg,
  custom-control-active-indicator-color: $custom-control-active-indicator-color,
  custom-control-active-indicator-bg: $custom-control-active-indicator-bg,
  custom-checkbox-indeterminate-bg: $custom-checkbox-indeterminate-bg,
  custom-checkbox-indeterminate-indicator-color: $custom-checkbox-indeterminate-indicator-color,
  custom-select-color: $custom-select-color,
  custom-select-disabled-color: $custom-select-disabled-color,
  custom-select-bg: $custom-select-bg,
  custom-select-disabled-bg: $custom-select-disabled-bg,
  custom-select-indicator-color: $custom-select-indicator-color,
  custom-select-border-color: $custom-select-border-color,
  custom-select-focus-border-color: $custom-select-focus-border-color,
  custom-file-color: $custom-file-color,
  custom-file-bg: $custom-file-bg,
  custom-file-border-color: $custom-file-border-color,
  custom-file-button-color: $custom-file-button-color,
  custom-file-button-bg: $custom-file-button-bg,
  form-icon-success-color: $form-icon-success-color,
  form-icon-warning-color: $form-icon-warning-color,
  form-icon-danger-color: $form-icon-danger-color,
  dropdown-bg: $dropdown-bg,
  dropdown-border-color: $dropdown-border-color,
  dropdown-divider-bg: $dropdown-divider-bg,
  dropdown-link-color: $dropdown-link-color,
  dropdown-link-hover-color: $dropdown-link-hover-color,
  dropdown-link-hover-bg: $dropdown-link-hover-bg,
  dropdown-link-active-color: $dropdown-link-active-color,
  dropdown-link-active-bg: $dropdown-link-active-bg,
  dropdown-link-disabled-color: $dropdown-link-disabled-color,
  dropdown-header-color: $dropdown-header-color,
  navbar-inverse-color: $navbar-inverse-color,
  navbar-inverse-hover-color: $navbar-inverse-hover-color,
  navbar-inverse-active-color: $navbar-inverse-active-color,
  navbar-inverse-disabled-color: $navbar-inverse-disabled-color,
  navbar-inverse-toggler-border: $navbar-inverse-toggler-border,
  navbar-light-color: $navbar-light-color,
  navbar-light-hover-color: $navbar-light-hover-color,
  navbar-light-active-color: $navbar-light-active-color,
  navbar-light-disabled-color: $navbar-light-disabled-color,
  navbar-light-toggler-border: $navbar-light-toggler-border,
  nav-link-hover-bg: $nav-link-hover-bg,
  nav-disabled-link-color: $nav-disabled-link-color,
  nav-tabs-border-color: $nav-tabs-border-color,
  nav-tabs-link-hover-border-color: $nav-tabs-link-hover-border-color,
  nav-tabs-active-link-hover-color: $nav-tabs-active-link-hover-color,
  nav-tabs-active-link-hover-bg: $nav-tabs-active-link-hover-bg,
  nav-tabs-active-link-hover-border-color: $nav-tabs-active-link-hover-border-color,
  nav-tabs-justified-link-border-color: $nav-tabs-justified-link-border-color,
  nav-tabs-justified-active-link-border-color: $nav-tabs-justified-active-link-border-color,
  nav-pills-active-link-color: $nav-pills-active-link-color,
  nav-pills-active-link-bg: $nav-pills-active-link-bg,
  pagination-color: $pagination-color,
  pagination-bg: $pagination-bg,
  pagination-border-color: $pagination-border-color,
  pagination-hover-color: $pagination-hover-color,
  pagination-hover-bg: $pagination-hover-bg,
  pagination-hover-border: $pagination-hover-border,
  pagination-active-color: $pagination-active-color,
  pagination-active-bg: $pagination-active-bg,
  pagination-active-border: $pagination-active-border,
  pagination-disabled-color: $pagination-disabled-color,
  pagination-disabled-bg: $pagination-disabled-bg,
  pagination-disabled-border: $pagination-disabled-border,
  jumbotron-bg: $jumbotron-bg,
  state-success-text: $state-success-text,
  state-success-bg: $state-success-bg,
  state-success-border: $state-success-border,
  state-info-text: $state-info-text,
  state-info-bg: $state-info-bg,
  state-info-border: $state-info-border,
  state-warning-text: $state-warning-text,
  state-warning-bg: $state-warning-bg,
  mark-bg: $mark-bg,
  state-warning-border: $state-warning-border,
  state-danger-text: $state-danger-text,
  state-danger-bg: $state-danger-bg,
  state-danger-border: $state-danger-border,
  card-border-color: $card-border-color,
  card-cap-bg: $card-cap-bg,
  card-bg: $card-bg,
  card-link-hover-color: $card-link-hover-color,
  tooltip-color: $tooltip-color,
  tooltip-bg: $tooltip-bg,
  tooltip-arrow-color: $tooltip-arrow-color,
  popover-bg: $popover-bg,
  popover-border-color: $popover-border-color,
  popover-title-bg: $popover-title-bg,
  popover-arrow-color: $popover-arrow-color,
  popover-arrow-outer-color: $popover-arrow-outer-color,
  badge-default-bg: $badge-default-bg,
  badge-primary-bg: $badge-primary-bg,
  badge-success-bg: $badge-success-bg,
  badge-info-bg: $badge-info-bg,
  badge-warning-bg: $badge-warning-bg,
  badge-danger-bg: $badge-danger-bg,
  badge-color: $badge-color,
  badge-link-hover-color: $badge-link-hover-color,
  modal-content-bg: $modal-content-bg,
  modal-content-border-color: $modal-content-border-color,
  modal-backdrop-bg: $modal-backdrop-bg,
  modal-header-border-color: $modal-header-border-color,
  modal-footer-border-color: $modal-footer-border-color,
  alert-success-bg: $alert-success-bg,
  alert-success-text: $alert-success-text,
  alert-success-border: $alert-success-border,
  alert-info-bg: $alert-info-bg,
  alert-info-text: $alert-info-text,
  alert-info-border: $alert-info-border,
  alert-warning-bg: $alert-warning-bg,
  alert-warning-text: $alert-warning-text,
  alert-warning-border: $alert-warning-border,
  alert-danger-bg: $alert-danger-bg,
  alert-danger-text: $alert-danger-text,
  alert-danger-border: $alert-danger-border,
  progress-bg: $progress-bg,
  progress-bar-color: $progress-bar-color,
  progress-bar-bg: $progress-bar-bg,
  list-group-color: $list-group-color,
  list-group-bg: $list-group-bg,
  list-group-border-color: $list-group-border-color,
  list-group-hover-bg: $list-group-hover-bg,
  list-group-active-color: $list-group-active-color,
  list-group-active-bg: $list-group-active-bg,
  list-group-active-border: $list-group-active-border,
  list-group-active-text-color: $list-group-active-text-color,
  list-group-disabled-color: $list-group-disabled-color,
  list-group-disabled-bg: $list-group-disabled-bg,
  list-group-disabled-text-color: $list-group-disabled-text-color,
  list-group-link-color: $list-group-link-color,
  list-group-link-heading-color: $list-group-link-heading-color,
  list-group-link-hover-color: $list-group-link-hover-color,
  list-group-link-active-color: $list-group-link-active-color,
  list-group-link-active-bg: $list-group-link-active-bg,
  thumbnail-bg: $thumbnail-bg,
  thumbnail-border-color: $thumbnail-border-color,
  figure-caption-color: $figure-caption-color,
  breadcrumb-bg: $breadcrumb-bg,
  breadcrumb-divider-color: $breadcrumb-divider-color,
  breadcrumb-active-color: $breadcrumb-active-color,
  carousel-control-color: $carousel-control-color,
  carousel-indicator-active-bg: $carousel-indicator-active-bg,
  carousel-caption-color: $carousel-caption-color,
  close-color: $close-color,
  code-color: $code-color,
  code-bg: $code-bg,
  kbd-color: $kbd-color,
  kbd-bg: $kbd-bg,
  pre-bg: $pre-bg,
  pre-color: $pre-color,
  pre-border-color: $pre-border-color
);

$colorize: (
  bgc: "background",
  txtc: "color",
  bdc: "border-color"
);


@function rgba-to-rgb($rgba, $base: #fff) {
  @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $base, alpha($rgba) * 100%);
}


.color-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #F0F0F0;

  .color-grid-item {
    width: 33%;
    min-height: 50px;
    font-size: 10px;
    padding: 5px 10px;
    margin: .5px;
    flex-grow: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;

   @media only screen and (max-width: 1024px) {
    width: 50%
   }

   @media only screen and (max-width: 520px) {
    width: 100%;
   }
  }
}

$color-grid-idx: 1;
@each $key, $value in $colors {

  @if ($value == transparent) {
    $value: rgba(0, 0, 0, 0);
  }

  .color-grid-item:nth-child(#{$color-grid-idx}) {

    $clr: rgba-to-rgb($value);

    @if (lightness($clr) >= 60%) {
      color: $black;
    } @else {
      color: $white;
    }

    background: $value;

    &:before {
      width: 65%;
      content: "#{$key}";
    }
    &:after {
      width: 35%;
      text-align: right;
      content: "#{$value}";
      text-transform: uppercase;
    }

    &.clear-content {
      span {
        width: 50%;
        &:last-child {
          text-align: right;
        }
      }

      &:after,
      &:before { display: none; }
    }
  }

  @each $sel, $prop in $colorize {
    .#{$sel}-#{$key} {
      #{$prop}: $value !important;
    }
  }

  $color-grid-idx: $color-grid-idx + 1;
}
