.f-controls {

	width: $menu-width;
    //width: 100%;
	height: 56px;
	//z-index: 5;
	//position: absolute;
	background-color: $gray-dark;

	.f-control {
		display: block;
		float: left;
		text-align: center;
		width: percentage(1/3);
		margin: 0;
		padding: 1rem 0;

		&.f-active {
			box-shadow: inset 0 0.25rem 0 0 color(accent);

			use {
				fill: color(menu-text);
			}
		}

		svg {
			vertical-align: middle;

			use {
				fill: if($theme == $theme-dark, color(normal), color(light) );
			}
		}
	}
}

.f-control {
	display: inline-block;
	cursor: pointer;
	margin-left: 0.66rem;

	&:first-child {
		margin-left: 0;
	}

	svg {
		width: 0.875rem;
		height: 0.875rem;

		use {
			fill: color(light);
		}
	}
}

.f-control-bar {
	padding: 1rem 0;
}

.f-menu-toggle {
	cursor: pointer;
	vertical-align: middle;

	svg {
		display: block;
		float: left;
		margin-bottom: -1px;
	}
}

.btn i {
  line-height: 1.5;
}
