.creative-preview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;

  img {
    width: 100%;
    height: auto;
  }

  * {
    transition: width ease-in-out .5s;
    alignment-items: stretch;
    flex-grow: 1;
    width: 30%;

    &:first-child {
      width: 70%;
      &:last-child {
        width: 100%;
      }
    }
  }

  .disqus-container {
    position: relative;
    padding: 0 10px;
  }

  @media only screen and (max-width: 1280px) {
    * {
      width: 33%;

      &:first-child {
        width: 66%;
        &:last-child {
          width: 100%;
        }
      }

    }
  }

  @media only screen and (max-width: 1024px) {
    * {
      width: 40%;

      &:first-child {
        width: 60%;
        &:last-child {
          width: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;

    * {
      width: 100%;

      &:first-child {
        width: 100%;
        &:last-child {
          width: 100%;
        }
      }
    }
  }
}

.creative-edit {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;

  img {
    width: 100%;
    height: auto;
  }

  .image {
    width: 70%;
    overflow: hidden;
  }

  .fieldset {
    flex-grow: 1;
    padding: 15px 20px;
  }


  @media only screen and (max-width: 1280px) {
    .image { width: 55%; }
  }

  @media only screen and (max-width: 1024px) {
    .image { width: 45%; }
  }

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap-reverse;
    flex-direction: column;
    .image { width: 100%; }
    .fieldset { width: 100%; }
  }

}
