// menu
$shadow-x: $navbar-width / -4;
.f-menu-container {

	position: fixed;
	height: 100%;
	z-index: 3;
	padding-left: $navbar-width;

	left: calc(-#{$navbar-width} + -#{$menu-width});

	transition: left ease-in-out .125s;

	&:after {
		content: " ";
		position: absolute;
		width: $navbar-width / 3;
		height: 100%;
		top: 0;
		right: -#{$navbar-width / 3};
	}

	&:hover,
	&:focus,
	&:active,
	&.active {
		left: 0;
		transition: left ease-in-out .25s;
		box-shadow: 1px 0 20px 5px rgba(0,0,0,.5);
	}

	[data-search] {
		position: absolute;
		top: 52px;
		left: $navbar-width;
		z-index: 5;

		width: $menu-width;
		background-color: $gray-dark;
		padding: 12px;

		input[type="search"] {
			width: 100%;
			background-color: $gray-darker;
			border-radius: 25px;
			border: none;
			margin: 0 auto;
			padding: 4px 16px;
			outline: none;
			color: $gray-lightest;
		}
	}
}
.f-navbar {
	width: $navbar-width;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $gray-darker;
	z-index: 2;
	padding-top: 4px;

	&-control {

		width: 100%;
		display: block;
		text-align: center;

		color: $gray-lighter;
		font-size: 10px;
		font-weight: 100;
		padding: 16px 0 12px 0;
		transition: all .125s ease-in-out;


		svg {
			opacity: .8;
			width: 32px;
			height: 32px;
			margin-bottom: 8px;

			transition: filter .125s ease-in-out;
		}

		&:hover,
		&:focus,
		&:active
		&.active {

			color: $gray-lightest;
			text-decoration: none;

			svg {
				opacity: 1;
				filter: drop-shadow(0px 0px 3px $gray-light);
			}
		}

		&:focus,
		&:active,
		&.active {
			background-color: $gray-dark;
		}

		&:first-child {
			svg {
				fill: #da7f34; stroke-width: 2px;
				transform: rotate(25deg);
			}
		}
	}
}

.f-menu {
	@include border-box;
	z-index: 1;
	width: $menu-width;
	height: calc(100% - 108px);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $gray-dark;
	margin-top: 108px;

	.f-menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: 1rem;

		> li {
			margin-top: 1rem;
			text-align: left;
		}
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: 5px 32px;
		color: #ccc;
		text-decoration: none;
		font-size: 0.875rem;
		line-height: 1.5;

		&:hover {
			color: $gray-lightest;
			text-decoration: none;
		}

		&.f-active {
			border-bottom: 1px solid lighten($gray-darker, 1%);
			border-top: 1px solid lighten($gray-darker, 1%);
			border-radius: 4px;
			margin: 0 12px;
			padding-left: 20px;
		}
	}

	.f-menu__heading {
		padding-left: 18px;
		font-weight: 100;
		font-size: 1rem;
		color: $gray-lightest;
		background-color: lighten($gray-darker, 2%);
		margin: 0 12px 12px 12px;
		border-radius: 4px;

		&:hover {
			color: color(normal);
		}
	}
}
