$f-tile-img-height: 200px;
$f-tile-border: 1px solid rgba(0, 0, 0, 0.125);
$f-tile-border-hover: 1px solid rgba(0, 0, 0, 0.5);

.f-tiles {

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;

  .f-tile {
    margin: 10px;
    width: calc(25% - 20px);
    position: relative;

    .f-tile-header {
      width: 100%;
      height: $f-tile-img-height;
      overflow: hidden;
      border: $f-tile-border;

      img {
        width: 100%;
      }

      a {
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .f-tile-body {
      border-left: $f-tile-border;
      border-right: $f-tile-border;
      height: 130px;
      padding: 5px 10px;
    }

    .f-tile-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .btn-group {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

        .btn {
          width: 25%;
          flex-grow: 1;

        }
      }
    }

    @media only screen and (max-width: 1920px) {
      width: calc(20% - 20px) !important;
    }

    @media only screen and (max-width: 1440px) {
      width: calc(25% - 20px) !important;
    }

    @media only screen and (max-width: 1024px) {
      width: calc(33% - 20px) !important;
    }

    @media only screen and (max-width: 768px) {
      width: calc(50% - 20px) !important;
    }

    @media only screen and (max-width: 480px) {
      width: calc(100% - 20px) !important;
    }

  }
}
