// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-darker:               #2e3039 !default;
$gray-dark:                 #363942 !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$base-colors: (
	dark: hsl(0, 0%, 12%),
	medium: hsl(0, 0%, 46%),
	light: hsl(0, 0%, 80%),
	accent: map-get($settings, accent)
);

$theme-dark: (
	menu-background: map-get($base-colors, dark),
	menu-text: map-get($base-colors, light),
	normal: map-get($base-colors, medium)
);

$theme-light: (
	menu-background: hsl(0, 0%, 100%),
	menu-text: map-get($base-colors, medium),
	normal: map-get($base-colors, medium)
);

$theme: $theme-light !default;

@if (map-get($settings, theme) == 'dark') {
	$theme: $theme-dark;
}

$colors: map-merge($base-colors, $theme);

$menu-width: map-get($settings, menu-width);


$f-grey:        #999999;
$f-grey-light:  #DCDCDC;


// functions
@function color($color) {
    @return map-get($colors, $color);
}


// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
}

@mixin border-box {
	box-sizing: border-box;
}


$spacer:   1rem !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      transparent !default;

$table-inverse-bg:              $gray-dark !default;
$table-inverse-color:           $table-bg !default;

$table-bg-accent:               rgba($black,.05) !default;
$table-bg-hover:                rgba($black,.075) !default;
$table-bg-active:               $table-bg-hover !default;

$table-head-bg:                 $gray-lighter !default;
$table-head-color:              $gray !default;

$table-border-width:            1px !default;
$table-border-color:            $gray-lighter !default;
